target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes
!target/test-classes

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
.idea_modules/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml

### OS & Misc ###
.DS_Store
Thumbs.db
*.log
*.tmp
.env
application-local.properties
application-local.yml
